body, html {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;

}

#solarTitle {
  margin-bottom: 10px;
}

hr {
  border: 0 none;
  background-color: lightGray;
  height: 2px;
}

/*._md-content._md.md-show {
    height: auto !important;
}*/

.md-tooltip {
    height: auto !important;
    /*width: auto !important;*/
}

.md-tooltip table th {
  font-size: 13px !important;
}

.md-tooltip table td {
  font-size: 13px !important;
}


.footprintOutput {
  height: 500px !important;
}



table td {
  font-size: 16px;
  padding:12px;
}

table th {
  font-size: 18px;
  padding: 17px;
}



.underline {
  text-decoration: underline;
}

#dieselUsage2 {
  margin-bottom: 12px;
}

.transitionTitle {
  /*background-color: orange;*/
  margin-bottom: 90px;
}

.margins {
  margin-left: 15%;
  margin-right: 15%;
}

.calcExp {
  font-style: italic;
  font-size: 18px;
}

.calculatorCard {
  padding: 20px;
  transition: transform 300ms ease-in-out;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 15.6px;
}

.solarCard {
  transition: transform 300ms ease-in-out;
}

.goHome {
  padding-left: 70px;
}

#instruct {
  padding-left: 70px;
  font-size: 21px;
}

/*Nice: get rid of annoying light blue borders on click events:*/
div:focus {
  outline: none;
}

header:focus {
  outline: none;
}

.myFooter:focus {
  outline: none;
}

.myFooter2:focus {
  outline: none;
}

.carbonButton {
  background-color: #80cbc4;
  border-radius: 10px;
  width: 30%;
  height: 120px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  font-size: 25px;
  padding: 27px;
}

.carbonButton:hover {
  cursor: pointer;
  /*background-color: lightpink;*/
  color: white;
}

.green {
  background-color: teal;
}

#calcContainer {
  position: relative;
}

.calcTitle {
  text-align: center;
}

#card2 {
  margin-top: -2px;
}


#card2, #card4 {
  position: absolute;
  right: 100px;
  /*top: 5px;*/
  /*down: 20px;*/
}

#card4 {
  down: 40px;
}

/*.card2 {
  background-color: teal;
  transform: translate(00px, 000px);
}*/

.card1 {
  /*Damn i kinda like that:*/
  background-color: teal;

  transform: translate(-280px, 0px);
}

.output {
  /*width: 70px;*/
  /*background-color: cornflowerBlue;*/
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 22px;
  font-size: 20.5px;
  /*background-color: lightBlue;*/
}

.inputCol, .outputCol {
  padding: 10px;
  margin: 10px;
}

.outputCol {
  /*text-align: right;*/
  /*margin-t op: 35px;*/
}

/* .instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
} */


#helpIcon {
  float: right;
}

#feedbackSub {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
#feedbackSub:hover {
  background-color: teal;
  color: white;
}


header {
  font-size: 32px;
  font-weight: 600;
  height: 150px;
  /* background-color: #333333; */
  color: #DDDDDD;
  background-image: url("/images/earthforfootprint.png");
  top: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 15px; */
}

.awards {
  background-image: url("/images/awards.png");
  height: 120px;
}

@media only screen and (max-width: 990px) {
    .contactUs {
        margin-top: 350px !important;
    }
}


.projectsDiv {
  overflow: scroll;
  max-height: 400px;
}


.contactBtn {
  background-color: teal;
  color: lightGray;
}

.contactBtn:hover {
  color: white;
}

/*md-dialog {
  min-width: 400px !important;
}*/

.contact-modal {
  padding: 20px;
  margin-top: 20px;
}


.tiny_logo {
  height: 24px;
  width: auto;
  position: relative;
  overflow: hidden;
  margin-top: -25px;
  margin-bottom: 25px;
}


.myFooter {
  height: 170px;
  background-image: url("/images/earthforfootprint.png");
  margin-top: 35px;
  text-align: center;
  padding-top: 50px;
}

.myFooter2 {
  height: 170px;
  background-image: url("/images/earthforfootprint.png");
  text-align: center;
  padding-top: 50px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

#homeSubmit {
float: center;

}

/* #doughnut-chart {
  height: 400px;
  width: auto;
} */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#dashheader {
  text-transform: uppercase;
  color: slategray;
  text-align: center;


}

#globe {
  height: 150px;
  width: 150px;
  padding-top: -100px;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}

#uploaddash {
  align-self: right;
}

#dashbody {
  background: url("../images/globe.png");
  background-repeat: no-repeat;
  max-height: 100%;



}

#bar {
  max-height: auto;
  max-width: 600;
}

#donuthome {
  max-height: auto;
  max-width: 600;
}

#linehome {
  max-height: auto;
  max-width: 600;
}

/* #demo {
  max-height: auto;
  max-width: 95%;
} */

#projectcheckboxes {
  max-width: 75%;
  justify-content: center;
}

#recent {
  min-height: 400px;
  height: auto;
  max-width: 600px;
  background-color: lightgray;
  text-transform: uppercase;
  padding-left: 20px;
  background-color: #80cbc4;

}

#homecharts {
  padding-right: 150px;
}

#homeform {
  padding-top: 25px;
}

#projectheader {
text-transform: uppercase;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    width: 40px;
    /* transition: all 0.3s;  Simple transition for hover effect */
}

th {
    background: #90a4ae;  /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #eceff1;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #eceff1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #b0bec5; }



.contactUs {
  margin-top: 270px;
}



#logo {
  position: relative;
  top: 25px;
  height: 100px;
  width: auto;
  overflow: hidden;
}

#logoContainer {
  position: relative;
  height: 150px;
  width: auto;
  overflow: hidden;

}

md-dialog {
  padding: 15px;
}

#footprintsTable {
  padding-left: -50px;
}

#projects {
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  color: #90a4ae;
}

h2, h3 {
  color: #37474f;
}



md-nav-bar {
  color: #90a4ae;
}

a {
    text-decoration: none;
    color: #37474f;
}

.navigateback {
  color: #90a4ae;
}


.homeimages {
  height: 100px;
  width: auto;
  opacity: 0.5;
  filter: alpha(opacity=50)



}

.blurb {
  height: 100px;
  width: auto;
  align-content: middle;
  vertical-align: middle;
  text-align: center;
  text-justify: inter-word;
  padding-bottom: 10px;
}
#nonmetric:hover {


color: #80cbc4;
}

#metric:hover {
  color: #80cbc4;

}

.downloadTemplates {
  float: right;
  padding-left: 105px;
  line-height: 30px;
  padding-right: 10px;
  padding-top: 15px;
}

#tryit {

  padding: 10px;
}
