
<!-- <div class="awards">

</div> -->

<div class="myFooter" ng-controller="footerController as fc" ng-click="fc.click()">
  <div layout="row" layout-align="center center">
    <div layout="col" ng-hide="fc.hoverFb" ng-mouseover="fc.hoverFb = true" ng-mouseleave="fc.hoverFb = false">
      <a href="https://www.facebook.com/aidfootprintproject"><img class="tiny_logo" src="/images/facebook_icon.png" alt=""></a>
    </div>
    <div layout="col" ng-show="fc.hoverFb" ng-mouseover="fc.hoverFb = true" ng-mouseleave="fc.hoverFb = false">
      <a href="https://www.facebook.com/aidfootprintproject"><img class="tiny_logo" src="/images/facebook-invert.png" alt=""></a>
    </div>

  </div>


  <!-- <div id="logoContainer2"><img id="logo2" src="images/footprintlogotransparent.png"></div> -->
  <p style="font-family:Palatino; font-size:13.5px; font-weight:500; letter-spacing:1.5px;">1717 BROADWAY STREET NORTHEAST, MINNEAPOLIS, MN, 55413, UNITED STATES</p>
  <br>
  <p style="opacity: 0.66">2018 Footprint GBC. All rights reserved.</p>
</div>
