

<md-nav-bar aria-label = " " md-selected-nav-item="currentNavItem">
<!-- <md-nav-bar md-selected-nav-item="currentNavItem" ng-controller="AuthController as ac"> -->

    <span flex></span>

    <!-- <h2 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2> -->
    <form ng-submit="lc.login()">
        <div>
            <label for="username">Email:</label>
            <input type="text" ng-model="lc.user.username" />

            <label for="password">Password:</label>
            <input type="password" ng-model="lc.user.password" />

            <md-button class="md-raised md-primary" type="submit" name="submit" value="Log In">Log In</md-button>

            <md-button class="md-raised md-primary" href="#register">Register</a></md-button>
            <span ng-click="lc.forgot()" style="text-decoration: underline; color: blue; margin-right: 15px;">Forgot password?</span>
    </form>




</md-nav-bar>
