<div class="calcContainer" >

  <div class="goHome">
    <md-button type="button" class="md-primary md-raised" ng-click="cc.toHome()">Back to Home</md-button>
  </div>

  <!-- NOTE: ABOVE BUTTON WILL HAVE TO GO BACK TO DASHBOARD, FOR AUTHENTICATED USER. -->

  <p layout="row" layout-align="center center" id="instruct">Let's forecast your transition from a diesel-powered system to a solar grid:</p>
  <br>
  <hr>
  <!-- DIESEL: -->
  <div layout="row" layout-align="center center">
    <h1 class="underline">Diesel-powered System</h1>
  </div>


  <div layout="row" layout-align="center center">
    <md-card class="calculatorCard" id="card1">
      <div class="calcExp">
        First we'll determine your daily energy usage.
      </div>
      <div class="calcTitle">
        <h2>Diesel-powered System</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          Size (kW): <input type="text" ng-model="cc.size" ng-change="cc.changeDieselUse()"><br>
          Hours/day running: <input type="text" ng-model="cc.hours" ng-change="cc.changeDieselUse()"><br>
          Percentage load: <input type="text" ng-model="cc.load" ng-change="cc.changeDieselUse()">
          <md-button class="md-primary md-raised" ng-click="cc.submit(0)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Usage (kWh/day):</p>
          <p class="output" id="dieselUsage">{{cc.dieselUsageString}} kWh/day</p>
        </div>
      </div>
    </md-card>

    <md-card class="calculatorCard" ng-show="cc.progress > 0" id="card2">
      <div class="calcExp">
        Compute costs of estimated diesel consumption:
      </div>
      <div class="calcTitle">
        <h2>Diesel Costs</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">

          <!-- NOTE: Though this presents as an input, the user cannot change it!!!! -->
          
          Gallons/day: <input type="text" ng-model="cc.dailyLiters" ng-change="cc.changeDailyLiters()">
          Cost/gallon: <input type="text" ng-model="cc.costPerLiter" ng-change="cc.changeDieselCost()">
          <md-button class="md-primary md-raised" ng-click="cc.submit(1)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Monthly cost:</p>
          <p class="output" id="month">${{cc.monthString}}</p>
          <p>Annual cost: </p>
          <p class="output" id="year">${{cc.yearString}}</p>
          <p>Annual carbon footprint:</p>
          <p class="output" id="carbonOut">{{cc.carbonString}} kg</p>
        </div>
      </div>
    </md-card>
  </div>

<br><br>


<hr>

<!-- SOLAR: -->
<div layout="row" layout-align="center center" ng-show="cc.progress > 1">
  <h1 class="transitionTitle underline">Solar-powered System</h1>
</div>
<br><br>

  <div layout="row" layout-align="center center" id="solarRow">
    <md-card class="calculatorCard" ng-show="cc.progress > 1" id="card3">
      <div class="calcExp">
        Estimated size of a replacement solar grid:
      </div>
      <div class="calcTitle">
        <h2>Solar-powered System</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          Power used in daytime (%): <input type="text" ng-model="cc.dayPower" ng-change="cc.changeSolarSize()">
          Overspec (%): <input type="text" ng-model="cc.overspec" ng-change="cc.changeSolarSize()">
          <md-button class="md-primary md-raised" ng-click="cc.submit(2)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Estimated size needed (kW):</p>
          <p class="output" id="solarSize">{{cc.solarSizeString}} kW</p>
        </div>
      </div>
    </md-card>

    <md-card class="calculatorCard solarCard" ng-show="cc.progress > 2" id="card4">
      <div class="calcExp">
        Finally we can forecast your transition:
      </div>
      <div class="calcTitle">
        <h2>Solar Savings</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          <!-- Add text about common prices: -->
          Budget per watt: <input type="text" ng-model="cc.budget" ng-change="cc.changeSolarCost()">
          <md-button class="md-primary md-raised" ng-click="cc.submit(3)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol" ng-show="cc.allDone">
          <p>Cost of solar-powered system:</p>
          <p class="output" id="solarCost">${{cc.solarCostString}}</p>
          <p>Time to cover costs:</p>
          <p class="output" id="cover">{{cc.coverTimeString}} days</p>
          <p>Savings after 5 years:</p>
          <p class="output" id="savings">${{cc.savingsString}}</p>
          <p>Savings after 10 years:</p>
          <p class="output" id="savings">${{cc.savingsTenString}}</p>
          <p>Carbon savings after 10 years:</p>
          <p class="output" id="savings">{{cc.savingsCarbonString}} kg</p>
        </div>
      </div>
    </md-card>
  </div>

</div>
