<div class="calcContainer" >

  <!-- DIESEL: -->
  <div layout="row" layout-align="center center">
    <md-card class="calculatorCard">
      <div class="calcExp">
        First we'll determine your daily energy usage.
      </div>
      <div class="calcTitle">
        <h2>Diesel-powered System</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          Size (kW): <input type="text" ng-model="cc.size" ng-change="cc.changeDieselUse()"><br>
          Hours/day running: <input type="text" ng-model="cc.hours" ng-change="cc.changeDieselUse()"><br>
          Percentage load: <input type="text" ng-model="cc.load" ng-change="cc.changeDieselUse()">
          <md-button ng-click="cc.submit(0)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Usage (kWh/day):</p>
          <p class="output" id="dieselUsage">{{cc.dieselUsage}} kWh/day</p>
        </div>
      </div>
    </md-card>

    <md-card class="calculatorCard" ng-show="cc.progress > 0">
      <div class="calcExp">
        Compute costs of estimated diesel consumption:
      </div>
      <div class="calcTitle">
        <h2>Diesel Costs</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          <!-- NOTE: Though this presents as an input, the user cannot change it!!!! -->
          Gallons/day: <input type="text" ng-model="cc.dailyLiters" ng-change="cc.changeDailyLiters()">
          Cost/gallon: <input type="text" ng-model="cc.costPerLiter" ng-change="cc.changeDieselCost()">
          <md-button ng-click="cc.submit(1)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Monthly cost:</p>
          <p class="output" id="month">${{cc.month}}</p>
          <p>Annual cost: </p>
          <p class="output" id="year">${{cc.year}}</p>
          <p>Annual carbon footprint:</p>
          <p class="output" id="carbonOut">{{cc.carbon}} kg</p>
        </div>
      </div>
    </md-card>
  </div>


<!-- SOLAR: -->
  <div layout="row" layout-align="center center">
    <md-card class="calculatorCard" ng-show="cc.progress > 1">
      <div class="calcExp">
        Estimated size of a replacement solar grid:
      </div>
      <div class="calcTitle">
        <h2>Solar-powered System</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          Power used in daytime (%): <input type="text" ng-model="cc.dayPower" ng-change="cc.changeSolarSize()">
          Overspec (%): <input type="text" ng-model="cc.overspec" ng-change="cc.changeSolarSize()">
          <md-button ng-click="cc.submit(2)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Estimated size needed (kW):</p>
          <p class="output" id="solarSize">{{cc.solarSize}} kW</p>
        </div>
      </div>
    </md-card>

    <md-card class="calculatorCard" ng-show="cc.progress > 2">
      <div class="calcExp">
        Finally we can forecast your transition:
      </div>
      <div class="calcTitle">
        <h2>Solar Savings</h2>
      </div>
      <div layout="row" layout-align="center top">
        <div layout="column" class="inputCol">
          Budget per watt: <input type="text" ng-model="cc.budget" ng-change="cc.changeSolarCost()">
          <md-button ng-click="cc.submit(3)">Submit</md-button>
        </div>
        <div layout="column" class="outputCol">
          <p>Cost of solar-powered system:</p>
          <p class="output" id="solarCost">${{cc.solarCost}}</p>
          <p>Time to cover costs:</p>
          <p class="output" id="cover">{{cc.coverTime}} days</p>
          <p>Savings after 5 years:</p>
          <p class="output" id="savings">${{cc.savings}}</p>
        </div>
      </div>
    </md-card>
  </div>

</div>
