<div class="calcContainer" >

  <div layout="row" layout-align="start start" class="navigateback">
    <md-button ng-show="cc.userAuthenticated" href="/#/user">BACK TO DASHBOARD</md-button><span flex></span>
    <md-button ng-hide="cc.userAuthenticated" class="md-primary md-raised" ng-click="cc.toHome()">Back to Home</md-button>
  </div>

  <p layout="row" layout-align="center center" id="instruct">Let's forecast your transition from a diesel-powered system to a solar grid:</p>
  <br>

  <!-- BOOTSTRAP CONTAINER: -->
  <div class="container">

      <hr>
  <!-- DIESEL: -->
  <div layout="row" layout-align="center center">
    <h1 class="underline">Diesel-powered System</h1>
  </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <md-card class="calculatorCard" >
          <div class="calcExp">
            First we'll determine your daily energy usage.
          </div>
          <div class="calcTitle">
            <h2>Diesel-powered System</h2>
          </div>
          <div layout="row" layout-align="center top">
            <div layout="column" class="inputCol">
              Size (kW): <input type="text" ng-model="cc.size" ng-change="cc.changeDieselUse()"><br>
              Hours/day running: <input type="text" ng-model="cc.hours" ng-change="cc.changeDieselUse()"><br>
              Percentage load: <input type="text" ng-model="cc.load" ng-change="cc.changeDieselUse()">
              <md-button class="md-primary md-raised" ng-click="cc.submit(0, $event)">Submit</md-button>
            </div>
            <div layout="column" class="outputCol">
              <p>Usage (kWh/day):</p>
              <p class="output" id="dieselUsage">{{cc.dieselUsageString}} kWh/day</p>
            </div>
          </div>
        </md-card>
      </div>

      <div ng-show="cc.progress > 0" class="col-sm-12 col-md-6">
        <md-card class="calculatorCard" ng-show="cc.progress > 0" >
          <div class="calcExp">
            Compute costs of estimated diesel consumption (or enter your own if you know it):
          </div>
          <div class="calcTitle">
            <h2>Diesel Costs</h2>
          </div>
          <div layout="row" layout-align="center top">
            <div layout="column" class="inputCol">

              <p>Gallons/day (est.):</p>
              <p class="output" id="dieselUsage2">{{cc.dailyLiters}} gallons/day</p>

              Gallons/day (known): <input type="text" ng-model="cc.dailyLitersKnown" ng-change="cc.changeDailyLitersKnown()">
              Cost/gallon: <input type="text" ng-model="cc.costPerLiter" ng-change="cc.changeDieselCost()">
              <md-button class="md-primary md-raised" ng-click="cc.submit(1, $event)">Submit</md-button>
            </div>
            <div layout="column" class="outputCol">
              <p>Monthly cost:</p>
              <p class="output" id="month">${{cc.monthString}}</p>

              <p>Annual cost: </p>
              <p class="output" id="year">${{cc.yearString}}</p>

              <p>Annual carbon footprint:</p>
              <p class="output" id="carbonOut">{{cc.carbonString}} kg</p>
            </div>
          </div>
        </md-card>
      </div>
    </div>

    <hr>



    <!-- SOLAR: -->
    <div layout="row" layout-align="center center" ng-show="cc.progress > 1">
      <h1 id="solarTitle" class="transitionTitle underline">Solar-powered System</h1>
    </div>


    <div class="row">
      <div ng-show="cc.progress > 1" class="col-sm-12 col-md-6">
        <md-card class="calculatorCard" ng-show="cc.progress > 1" >
          <div class="calcExp">
            Estimated size of a replacement solar grid:
          </div>
          <div class="calcTitle">
            <h2>Solar-powered System</h2>
          </div>
          <div layout="row" layout-align="center top">
            <div layout="column" class="inputCol">
              Power used in daytime (%): <input type="text" ng-model="cc.dayPower" ng-change="cc.changeSolarSize()">
              <span ng-mouseleave="cc.unhoverHelp($event)" ng-mouseover="cc.hoverHelp($event)">Overspec (%): <input type="text" ng-model="cc.overspec" ng-change="cc.changeSolarSize()"></span>
              <md-button class="md-primary md-raised" ng-click="cc.submit(2, $event)">Submit</md-button>
            </div>
            <div layout="column" class="outputCol">
              <p>Estimated size needed (kW):</p>
              <p class="output" id="solarSize">{{cc.solarSizeString}} kW</p>
            </div>
          </div>
          <div class="row" ng-show="cc.overspecHover" layout layout-align="center center">
            Overspec: <i>anticipate cloudy weather.</i>
          </div>
        </md-card>
      </div>

      <div ng-show="cc.progress > 2" class="col-sm-12 col-md-6">
        <md-card class="calculatorCard solarCard" ng-show="cc.progress > 2" >
          <div class="calcExp">
            Finally we can forecast your transition:
          </div>
          <div class="calcTitle">
            <h2>Solar Savings</h2>
          </div>
          <div layout="row" layout-align="center top">
            <div layout="column" class="inputCol">
              <!-- Add text about common prices: -->
              Budget per watt: <input type="text" ng-model="cc.budget" ng-change="cc.changeSolarCost()">
              <md-button class="md-primary md-raised" ng-click="cc.submit(3, $event)">Submit</md-button>
            </div>
            <div layout="column" class="outputCol" ng-show="cc.allDone">
              <p>Cost of solar-powered system:</p>
              <p class="output" id="solarCost">${{cc.solarCostString}}</p>

              <p>Time to cover costs:</p>
              <p class="output" id="cover">{{cc.coverTimeString}} days</p>

              <p ng-show="cc.savings > 0">Savings after 5 years:</p>
              <p ng-show="cc.savings > 0" class="output" id="savings">${{cc.savingsString}}</p>

              <p ng-show="cc.savingsTen > 0">Savings after 10 years:</p>
              <p ng-show="cc.savingsTen > 0" class="output" id="savings">${{cc.savingsTenString}}</p>

              <p>Carbon savings after 10 years:</p>
              <p class="output" id="savings">{{cc.savingsCarbonString}} kg</p>
            </div>
          </div>
        </md-card>
      </div>
    </div>
  </div>





</div>


<div ng-include="'/views/partials/footer.html'"></div>
