<md-dialog aria-label="Upload CSV" flex="66" >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>ADD A NEW PROJECT</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="pdc.hide()">
        <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content >
    <div class="md-dialog-content">
      <div >


      <md-input-container style="margin-bottom:-15px">
        <label>Project Name</label>
        <input ng-model="pdc.user.projectName">
      </md-input-container>
    </div>
    <div>
      <h3 style="margin-bottom:-15px">COUNTRY</h3>

      <md-input-container>
        <label>Country of Operation</label>
        <md-select style="margin-bottom:-15px" class="select" ng-model="pdc.user.selectedCountry" md-selected-text="pdc.user.selectedCountry">
          <md-option ng-repeat="country in pdc.countries">
            <em>{{country.name}}</em>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div id="projectcheckboxes">
      <h3 style="margin-bottom:17px">PROJECT TYPE</h3>
      <md-checkbox ng-model="active" ng-repeat="item in pdc.items" ng-change="pdc.change(item, active)"> {{item}}</md-checkbox>

      <!-- <pre ng-bind="lst | json">
    </pre> -->
  </div>
  <div id="homeSubmit">
    <md-button class="md-accent md-raised" ng-click="pdc.submitProject()">Submit Data</md-button>
    <span id="error" style="color: red"></span>
  </div>
        </div>
</md-dialog>
