
<div ng-include="'views/partials/nav.html'"></div>

<div class="whole" ng-init="pc.init()">
  <div layout="row" layout-align="start start" class="navigateback">
    <md-button  href="/#/user">BACK TO DASHBOARD</md-button><span flex></span>

  </div>

  <div layout="row" layout-align="center center">
    <h1 id="projectheader">Currently viewing: {{pc.clickedProject.name}}</h1>
  </div>


  <div layout="row" layout-align="center center">
    <h3>Country: {{pc.clickedProject.country}}</h3>
  </div>
  <div layout="row" layout-align="center center">
    <h3>Type<span ng-show="pc.clickedProject.names.length > 1">s</span>:
      <span ng-repeat="type in pc.clickedProject.names"><span>{{type}}<span ng-if="$index < pc.clickedProject.names.length - 1">,</span> </span></span></h3>
  </div>

  <div layout="row" id="projects">

    <div flex="70" >
      <table id="footprintsTable">
        <h2>UPLOADED PERIODS</h2>
        <tbody>
          <tr>
            <!-- Lol: -->
            <!-- will add footprint in a moment -->
            <th>PERIOD</th>
            <th>EDIT</th>
            <th>DELETE</th>

          </tr>
          <tr  ng-repeat="projectFootprint in pc.projectFootprints" ng-mouseleave="pc.hovering = false" ng-mouseover="pc.hoverFootprint($event)" class="footprint-row" id="footprint_{{projectFootprint.id}}">

            <td>{{projectFootprint.period | date: "MMM yyyy"}}</td>
            <td><md-button class="md-raised md-primary" ng-click="pc.editModal($event, $index)">Edit</md-button></td>
            <td>
              <md-button class="md-raised md-warn ng-click=" ng-click="pc.deleteThis($event, projectFootprint.id)">Delete</md-button>
            </td>

          </tr>
        </tbody>

      </table>
    </div>
    <div flex="30">

        <h2>YOUR PROJECTS</h2>
        <div layout="row" >

        <md-card id="recent" class="projectsDiv">
          <h3 ng-repeat="userProject in pc.userProjects">

            <md-button ng-click="pc.showAnotherProject($event, $index)" layout-align="left">{{userProject.name}}</md-button>

          </h3>
        </md-card>
      </div>

      <br><br>
      <div layout="row" class="footprintOutput">
        <table>
          <thead>
            <th>Column</th>
            <th>Value</th>
          </thead>
          <tbody>
            <tr>
              <td>Electricity</td>
              <td>{{pc.hovered.electricity}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Propane</td>
              <td>{{pc.hovered.propane}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Fuel</td>
              <td>{{pc.hovered.fuel}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Hotel</td>
              <td>{{pc.hovered.hotel}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Air</td>
              <td>{{pc.hovered.air}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Truck</td>
              <td>{{pc.hovered.truck}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Freight Train</td>
              <td>{{pc.hovered.freight_train}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Sea</td>
              <td>{{pc.hovered.sea}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Plane</td>
              <td>{{pc.hovered.plane}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Car</td>
              <td>{{pc.hovered.car}} <i>kWh</i></td>
            </tr>
            <tr>
              <td>Train</td>
              <td>{{pc.hovered.train}} <i>kWh</i></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
